.btn {
    color: var(--mantine-color-gray-1);
    background-color: light-dark(var(--mantine-color-cyan-7), var(--mantine-color-blue-7));
}

.text {
    color: light-dark(var(--mantine-color-dark-9), var(--mantine-color-gray-3));
}

.title {
    color: light-dark(var(--mantine-color-blue-7), var(--mantine-color-cyan-7));
}

.icon {
    color: light-dark(var(--mantine-color-cyan-7), var(--mantine-color-blue-7));
}

.send_btn{
    color: var(--mantine-color-gray-1);
    background-color: light-dark(var(--mantine-color-blue-7), var(--mantine-color-cyan-7));
}

.dis_btn {
    color: var(--mantine-color-gray-1);
    background-color: light-dark(var(--mantine-color-blue-7), var(--mantine-color-cyan-7));
    opacity: 0.5;
    cursor: not-allowed;
}

/*.main {*/
/*    height: calc(100vh);*/
/*}*/