.paper {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
}

.reg_btn {
    color: var(--mantine-color-gray-1);
    background-color: light-dark(var(--mantine-color-cyan-7), var(--mantine-color-blue-7));
}

.main {
    min-height: calc(100vh - 120px);
}